<app-nav-bar></app-nav-bar>
<div *ngIf="userData" class="profile-card">
  <h2>{{ userData.first_name }} {{ userData.last_name }}</h2>
  <div class="profile-photo-container" *ngIf="userData.profile_photo">
    <img [src]="'http://localhost:3000/' + userData.profile_photo"  class="profile-photo" />
  </div>
  <p><strong>Email:</strong> {{ userData.email }}</p>
  <p><strong>Gender:</strong> {{ userData.gender }}</p>
  <p><strong>Birthday:</strong> {{ userData.birth_day }}</p>
  <div class="pr-section">
    <h3>Personal Records (PR)</h3>
    <p><strong>Arm Curl:</strong> {{ userData.PR_arm }} kg</p>
    <p><strong>Bench Press:</strong> {{ userData.PR_bench_press }} kg</p>
    <p><strong>Leg Press:</strong> {{ userData.PR_leg_press }} kg</p>
  </div>

  <div class="description-section">
    <h3>About Me</h3>
    <p>{{ userData.description }}</p>
  </div>
</div>

<div *ngIf="!userData" class="loading">
  Loading profile...
</div>

<app-footer></app-footer>
