<app-nav-bar></app-nav-bar>

<section class="about-hero">
  <div class="hero-text">
    <h1>Welcome to Fitness Buddy</h1>
    <p>
      We’re more than an app — we’re a local fitness community built around friendship and motivation.
    </p>
  </div>
</section>

<section class="about-mission">
  <h2>Our Mission</h2>
  <p>
    Fitness Buddy helps people in <strong>Timișoara</strong> and nearby cities find partners with similar goals, gym schedules, and interests. Whether you're a beginner or a pro, you'll find someone to push you further.
  </p>
</section>


<section class="call-to-action">
  <h2>Join the Movement</h2>
  <p>
    Meet people. Train better. Enjoy the journey together.
  </p>
  <button routerLink="/register-now">Create an Account</button>
</section>

<app-footer></app-footer>
