<nav class="navbar">
    <div class="nav-container">
      <a (click)="changeToHomePage()" class="logo">Fitness Buddy</a>
      <div class="nav-links">
        <a (click)="changeToProfile()">Profile</a>
        <a (click)="changeToGyms()">Gyms</a>
        <a (click)="changeToMake_Friends()">Find New Friends</a>
        <a (click)="changeToAbout_Us()">About Us</a>

        <button *ngIf="isLoggedIn$ | async" (click)="logOut()" class="logout-btn">Logout</button>
      </div>
    </div>
  </nav>
  